<title>Log Into Your Account</title>
<%= stylesheet_link_tag "bootstrap/css/bootstrap-responsive", "bootstrap/css/bootstrap" %>
<body>
<div style="width: 50%; float: left;">

</div>
<div style="width: 50%; float: right;">
	<p>
		place a login form here
	</p>
</div>
</body>